{% extends 'base.html' %}
{% block content %}
    <div class="wrapper" style="display: flex; height: 100%; align-items: center;">
        <div class="column">
            <h2>Ваше поле</h2>

            <p class="field-row">
            <button disabled style="color: transparent">0</button>
            <button disabled>1</button>
            <button disabled>2</button>
            <button disabled>3</button>
            <button disabled>4</button>
            <button disabled>5</button>
            <button disabled>6</button>
            <button disabled>7</button>
            <button disabled>8</button>
            <button disabled>9</button>
            <button disabled>10</button>
            </p>

            <p class="field-row">
            <button disabled>А</button>
            <button class="ship red">x</button>
            <button class="ship red">x</button>
            <button>●</button>
            <button class="ship">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button class="ship">●</button>
            <button class="ship">●</button>
            <button class="ship">●</button>
            <button class="ship">●</button>
            </p>

            <p class="field-row">
            <button disabled>Б</button>
            <button>●</button>
            <button>●</button>
            <button>●</button>
            <button class="ship">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            </p>

            <p class="field-row">
            <button disabled>А</button>
            <button class="ship red">x</button>
            <button class="ship red">x</button>
            <button>●</button>
            <button class="ship">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button>●</button>
            <button>●</button>
            <button>●</button>
            </p>

            <p class="field-row">
            <button disabled>А</button>
            <button class="ship red">x</button>
            <button class="ship red">x</button>
            <button>●</button>
            <button class="ship">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button>●</button>
            <button>●</button>
            <button>●</button>
            </p>

            <p class="field-row">
            <button disabled>А</button>
            <button class="ship red">x</button>
            <button class="ship red">x</button>
            <button>●</button>
            <button class="ship">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button>●</button>
            <button>●</button>
            <button>●</button>
            </p>

            <p class="field-row">
            <button disabled>А</button>
            <button class="ship red">x</button>
            <button class="ship red">x</button>
            <button>●</button>
            <button class="ship">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button>●</button>
            <button>●</button>
            <button>●</button>
            </p>

            <p class="field-row">
            <button disabled>А</button>
            <button class="ship red">x</button>
            <button class="ship red">x</button>
            <button>●</button>
            <button class="ship">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button>●</button>
            <button>●</button>
            <button>●</button>
            </p>

            <p class="field-row">
            <button disabled>А</button>
            <button class="ship red">x</button>
            <button class="ship red">x</button>
            <button>●</button>
            <button class="ship">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button>●</button>
            <button>●</button>
            <button>●</button>
            </p>

            <p class="field-row">
            <button disabled>А</button>
            <button class="ship red">x</button>
            <button class="ship red">x</button>
            <button>●</button>
            <button class="ship">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button>●</button>
            <button>●</button>
            <button>●</button>
            </p>

            <p class="field-row">
            <button disabled>А</button>
            <button class="ship red">x</button>
            <button class="ship red">x</button>
            <button>●</button>
            <button class="ship">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button>●</button>
            <button>●</button>
            <button>●</button>
            </p>
        </div>
        <div class="column">
           <h2>Поле противника</h2>

            <p class="field-row">
            <button disabled style="color: transparent">0</button>
            <button disabled>1</button>
            <button disabled>2</button>
            <button disabled>3</button>
            <button disabled>4</button>
            <button disabled>5</button>
            <button disabled>6</button>
            <button disabled>7</button>
            <button disabled>8</button>
            <button disabled>9</button>
            <button disabled>10</button>
            </p>

            <p class="field-row">
            <button disabled>А</button>
            <button class="ship red">x</button>
            <button class="ship red">x</button>
            <button>●</button>
            <button class="ship">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button class="ship">●</button>
            <button class="ship">●</button>
            <button class="ship">●</button>
            <button class="ship">●</button>
            </p>

            <p class="field-row">
            <button disabled>Б</button>
            <button>●</button>
            <button>●</button>
            <button>●</button>
            <button class="ship">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            </p>

            <p class="field-row">
            <button disabled>А</button>
            <button class="ship red">x</button>
            <button class="ship red">x</button>
            <button>●</button>
            <button class="ship">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button>●</button>
            <button>●</button>
            <button>●</button>
            </p>

            <p class="field-row">
            <button disabled>А</button>
            <button class="ship red">x</button>
            <button class="ship red">x</button>
            <button>●</button>
            <button class="ship">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button>●</button>
            <button>●</button>
            <button>●</button>
            </p>

            <p class="field-row">
            <button disabled>А</button>
            <button class="ship red">x</button>
            <button class="ship red">x</button>
            <button>●</button>
            <button class="ship">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button>●</button>
            <button>●</button>
            <button>●</button>
            </p>

            <p class="field-row">
            <button disabled>А</button>
            <button class="ship red">x</button>
            <button class="ship red">x</button>
            <button>●</button>
            <button class="ship">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button>●</button>
            <button>●</button>
            <button>●</button>
            </p>

            <p class="field-row">
            <button disabled>А</button>
            <button class="ship red">x</button>
            <button class="ship red">x</button>
            <button>●</button>
            <button class="ship">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button>●</button>
            <button>●</button>
            <button>●</button>
            </p>

            <p class="field-row">
            <button disabled>А</button>
            <button class="ship red">x</button>
            <button class="ship red">x</button>
            <button>●</button>
            <button class="ship">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button>●</button>
            <button>●</button>
            <button>●</button>
            </p>

            <p class="field-row">
            <button disabled>А</button>
            <button class="ship red">x</button>
            <button class="ship red">x</button>
            <button>●</button>
            <button class="ship">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button>●</button>
            <button>●</button>
            <button>●</button>
            </p>

            <p class="field-row">
            <button disabled>А</button>
            <button class="ship red">x</button>
            <button class="ship red">x</button>
            <button>●</button>
            <button class="ship">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button class="empty">●</button>
            <button>●</button>
            <button>●</button>
            <button>●</button>
            </p>
        </div>
        <div class="column chat"></div>
    </div>
{% endblock content %}