{% extends 'base.html' %}
{% block content %}
    {{ room_name|json_script:'room-name' }}
    {{ player|json_script:'player' }}
    <script>
    function turn(x, y) {
            gameSocket.send(JSON.stringify({
                'x': x,
                'y': y,
                'from': player,
                'type': 'turn',
            }));
        }

    const roomName = JSON.parse(document.getElementById('room-name').textContent);
    const player = JSON.parse(document.getElementById('player').textContent);

    const gameSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/game/'
        + roomName
        + '/'
    );

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + roomName
        + '/'
    );

    function render_field(player_char, field_data) {
        if (player_char === player) {
            html = '<h2>Ваше поле (игрок ' + player.replace('player', '') + ')</h2>';
            id = 'mine';
        } else {
            html = '<h2>Поле противника</h2>';
            id = 'another';
        }

        for (var i = 0; i < field_data.length; i++) {
            row = field_data[i];

            html += '<p class="field-row"> ';
            for (var j = 0; j < row.length; j++) {

                if (row[j] === 0) {
                    if (id === 'another') {
                        html += '<button class="empty" onclick="turn(' + i + ', ' + j + ')">●</button> ';
                    } else {
                        html += '<button class="empty">●</button> ';
                    }
                } else if (row[j] === 1) {
                    html += '<button class="ship">●</button> ';
                } else if (row[j] === -1) {
                    html += '<button class="ship red">x</button> ';
                } else {
                    html += '<button>●</button> ';
                }
            }
            html += '</p>';
        }

        document.getElementById(id).innerHTML = html
    }

    function show_player(player) {
        num = player.replace('player', '')
        document.getElementById('turn_player').innerHTML = 'Сейчас ходит игрок ' + num;
    }

    function render_message(data) {
        message = '<p class="message ';

        if (data.from === player) {
            message += 'mine">';
        } else {
            message += 'another">';
        }

        return message + data['message'] + ' <span>' + data['time'] + '</span></p>';
    }

    document.addEventListener("DOMContentLoaded", function() {
        gameSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);

            if (data.to === player) {
                render_field(data.to, data.to_field);
            }

            if (data.from === player) {
                render_field(data.to, data.from_field);
            }

            show_player(data.turn);
        };

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            if (data.type === 'message') {
                document.querySelector('#chat_log').insertAdjacentHTML('beforeend', render_message(data));
            } else if (data.type === 'flush_room' && data.room_flushed) {
                document.location.href = window.location.origin
            }
        }

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        }

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;

            var d = new Date();

            chatSocket.send(JSON.stringify({
                'message': message,
                'time': d.toLocaleString(),
                'time_unix': Date.now(),
                'from': player,
                'type': 'chat_message',
            }));
            messageInputDom.value = '';
        }

        document.querySelector('#finish_game').onclick = function(e) {
            chatSocket.send(JSON.stringify({
                'type': 'flush_room',
            }));
        }
    });
    </script>

    <p id="turn_player">Сейчас ходит игрок {{ turn_player }}</p>
    <div class="wrapper" style="display: flex; height: 100%; align-items: center;">
        <div class="column" id="mine">
            <h2>Ваше поле (игрок {{ num }})</h2>

            {% for i, row in field %}
                <p class="field-row">

                    {% for cell in row %}
                        {% if not cell %}
                        <button class="empty">●</button>
                        {% elif cell == 1 %}
                        <button class="ship">●</button>
                        {% elif cell == -1 %}
                        <button class="ship red">x</button>
                        {% else %}
                        <button>●</button>
                        {% endif %}
                    {% endfor %}

                </p>
            {% endfor %}
        </div>
        <div class="column" id="another">
            <h2>Поле противника</h2>

            {% for i, row in another_field %}
                <p class="field-row">

                    {% for cell in row %}
                        {% if not cell %}
                        <button class="empty" onclick="turn({{ i }}, {{ forloop.counter0 }})">●</button>
                        {% elif cell == 1 %}
                        <button class="ship">●</button>
                        {% elif cell == -1 %}
                        <button class="ship red">x</button>
                        {% else %}
                        <button>●</button>
                        {% endif %}
                    {% endfor %}

                </p>
            {% endfor %}
        </div>
        <div class="column chat" id="chat_log">
        {% for message in chat_log %}
        {% if message.message %}
        <p class="message {% if message.from == player %} mine {% else %} another {% endif %}">
            {{ message.message }} <span>{{ message.time }}</span>
        </p>
        {% endif %}
        {% endfor %}
        </div>

        <input id="chat-message-input" type="text" size="100" style="width: 350px"><br>
        <input id="chat-message-submit" type="button" value="Отправить" style="width: 382px">
    </div>
    <div id="finish_game">Закончить игру</div>
{% endblock content %}
